
body {
  background-color: #f9e0c8;
  color: #712E1E;
}

header, footer {
  background-color: #712E1E;
  color: #FFD5AF;
  padding: 1rem 0;
}

h1, h2, h3 {
  color: #712E1E;
}

.navbar-light {
  background-color: #f9e0c8;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #712E1E;
}

.nav-link:hover {
  color: #ff810a;
}

.card {
  border: 2px solid #888870;
  background-color: #f9d2ae;
}

.card-title {
  color: #712E1E;
}

.card-text {
  color: #535346;
}

.intro-text {
  font-size: 1.2rem;
  line-height: 1.8;
}

button {
  background-color: #712E1E;
  color: #FFD5AF;
  border: none;
}

button:hover {
  background-color: #E59A59;
}

html {
  scroll-behavior: smooth;
}
